:root {
  --color1: #000000;
  --color2: #839788;
  --color3: #eee0cb;
  --color4: #baa898;
  --color5: #bfd7ea;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.block {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

body {
  font-family: Verdana, sans-serif;
  background-color: var(--color3);
  text-align: center;
  margin-top: 2rem;
}

h1 {
  margin-bottom: 3rem;
}

.pokemon-form {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.input-text {
  font-size: 1.2rem;
}

.search-input {
  width: 200px;
  height: 30px;
  border: 2px solid #000;
  outline: none;
  border-radius: 12px;
  padding: 2px 10px;
  font-weight: 600;
}

.search-btn {
  width: 200px;
  height: 30px;
  border-radius: 12px;
  cursor: pointer;
  background-color: var(--color5);
  color: var(--color1);
  font-weight: 600;
}

.pokemon-data-container {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.data {
  width: clamp(150px, 30vw, 400px);
  height: 300px;
  background-color: var(--color2);
  color: var(--color3);
  font-weight: 700;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px var(--color4);
}

.pokemon-image {
  width: 150px;
  height: 150px;
}
